In [18]:
import selenium
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [5]:
driver=Chrome()
driver.get('https://www.worldometers.info/world-population/')

In [11]:
soup=BeautifulSoup(driver.page_source,'lxml')

In [12]:
table=soup.find('table','table table-striped table-bordered table-hover table-condensed table-list');

In [13]:
table

<table class="table table-striped table-bordered table-hover table-condensed table-list"><thead> <tr> <th>Year<br/> (July 1) </th><th>Population</th><th>Yearly % <br/> Change</th><th>Yearly<br/> Change</th><th>Median <br/>Age</th><th>Fertility <br/>Rate</th><th>Density <br/>(P/Km²)</th> </tr><tr> <td>2020</td> <td><strong>7,794,798,739</strong></td> <td>1.05 %</td> <td>81,330,639</td> <td>30.9</td> <td>2.47</td> <td>52</td> </tr> <tr> <td>2019</td> <td><strong>7,713,468,100</strong></td> <td>1.08 %</td> <td>82,377,060</td> <td>29.8</td> <td>2.51</td> <td>52</td> </tr></thead><tbody><tr> <td>2018</td> <td><strong>7,631,091,040</strong></td> <td>1.10 %</td> <td>83,232,115</td> <td>29.8</td> <td>2.51</td> <td>51</td> </tr><tr> <td>2017</td> <td><strong>7,547,858,925</strong></td> <td>1.12 %</td> <td>83,836,876</td> <td>29.8</td> <td>2.51</td> <td>51</td> </tr><tr> <td>2016</td> <td><strong>7,464,022,049</strong></td> <td>1.14 %</td> <td>84,224,910</td> <td>29.8</td> <td>2.51</td> <td>50</td> </tr><tr> <td>2015</td> <td><strong>7,379,797,139</strong></td> <td>1.19 %</td> <td>84,594,707</td> <td>30</td> <td>2.52</td> <td>50</td> </tr><tr> <td>2010</td> <td><strong>6,956,823,603</strong></td> <td>1.24 %</td> <td>82,983,315</td> <td>28</td> <td>2.58</td> <td>47</td> </tr><tr> <td>2005</td> <td><strong>6,541,907,027</strong></td> <td>1.26 %</td> <td>79,682,641</td> <td>27</td> <td>2.65</td> <td>44</td> </tr><tr> <td>2000</td> <td><strong>6,143,493,823</strong></td> <td>1.35 %</td> <td>79,856,169</td> <td>26</td> <td>2.78</td> <td>41</td> </tr><tr> <td>1995</td> <td><strong>5,744,212,979</strong></td> <td>1.52 %</td> <td>83,396,384</td> <td>25</td> <td>3.01</td> <td>39</td> </tr><tr> <td>1990</td> <td><strong>5,327,231,061</strong></td> <td>1.81 %</td> <td>91,261,864</td> <td>24</td> <td>3.44</td> <td>36</td> </tr><tr> <td>1985</td> <td><strong>4,870,921,740</strong></td> <td>1.79 %</td> <td>82,583,645</td> <td>23</td><td>3.59</td> <td>33</td> </tr><tr> <td>1980</td> <td><strong>4,458,003,514</strong></td> <td>1.79 %</td> <td>75,704,582</td> <td>23</td> <td>3.86</td> <td>30</td> </tr><tr> <td>1975</td> <td><strong>4,079,480,606</strong></td> <td>1.97 %</td> <td>75,808,712</td> <td>22</td> <td>4.47</td> <td>27</td> </tr><tr> <td>1970</td> <td><strong>3,700,437,046</strong></td> <td>2.07 %</td> <td>72,170,690</td> <td>22</td><td>4.93</td> <td>25</td> </tr><tr> <td>1965</td> <td><strong>3,339,583,597</strong></td> <td>1.93 %</td> <td>60,926,770</td> <td>22</td> <td>5.02</td> <td>22</td> </tr><tr> <td>1960</td> <td><strong>3,034,949,748</strong></td> <td>1.82 %</td> <td>52,385,962</td> <td>23</td> <td>4.90</td> <td>20</td> </tr><tr> <td>1955</td> <td><strong>2,773,019,936</strong></td> <td>1.80 %</td> <td>47,317,757</td> <td>23</td> <td>4.97</td> <td>19</td> </tr></tbody></table>

In [14]:
table.find_all('th')

[<th>Year<br/> (July 1) </th>,
 <th>Population</th>,
 <th>Yearly % <br/> Change</th>,
 <th>Yearly<br/> Change</th>,
 <th>Median <br/>Age</th>,
 <th>Fertility <br/>Rate</th>,
 <th>Density <br/>(P/Km²)</th>]

In [15]:
Header=[]
for i in table.find_all('th'):
    name=i.text
    Header.append(name)

In [19]:
data=pd.DataFrame(columns=Header)

In [20]:
data

Empty DataFrame
Columns: [Year (July 1) , Population, Yearly %  Change, Yearly Change, Median Age, Fertility Rate, Density (P/Km²)]
Index: []

In [21]:
table.find_all('tr')[1:]

[<tr> <td>2020</td> <td><strong>7,794,798,739</strong></td> <td>1.05 %</td> <td>81,330,639</td> <td>30.9</td> <td>2.47</td> <td>52</td> </tr>,
 <tr> <td>2019</td> <td><strong>7,713,468,100</strong></td> <td>1.08 %</td> <td>82,377,060</td> <td>29.8</td> <td>2.51</td> <td>52</td> </tr>,
 <tr> <td>2018</td> <td><strong>7,631,091,040</strong></td> <td>1.10 %</td> <td>83,232,115</td> <td>29.8</td> <td>2.51</td> <td>51</td> </tr>,
 <tr> <td>2017</td> <td><strong>7,547,858,925</strong></td> <td>1.12 %</td> <td>83,836,876</td> <td>29.8</td> <td>2.51</td> <td>51</td> </tr>,
 <tr> <td>2016</td> <td><strong>7,464,022,049</strong></td> <td>1.14 %</td> <td>84,224,910</td> <td>29.8</td> <td>2.51</td> <td>50</td> </tr>,
 <tr> <td>2015</td> <td><strong>7,379,797,139</strong></td> <td>1.19 %</td> <td>84,594,707</td> <td>30</td> <td>2.52</td> <td>50</td> </tr>,
 <tr> <td>2010</td> <td><strong>6,956,823,603</strong></td> <td>1.24 %</td> <td>82,983,315</td> <td>28</td> <td>2.58</td> <td>47</td> </tr>,
 <tr> <td>2005</td> <td><strong>6,541,907,027</strong></td> <td>1.26 %</td> <td>79,682,641</td> <td>27</td> <td>2.65</td> <td>44</td> </tr>,
 <tr> <td>2000</td> <td><strong>6,143,493,823</strong></td> <td>1.35 %</td> <td>79,856,169</td> <td>26</td> <td>2.78</td> <td>41</td> </tr>,
 <tr> <td>1995</td> <td><strong>5,744,212,979</strong></td> <td>1.52 %</td> <td>83,396,384</td> <td>25</td> <td>3.01</td> <td>39</td> </tr>,
 <tr> <td>1990</td> <td><strong>5,327,231,061</strong></td> <td>1.81 %</td> <td>91,261,864</td> <td>24</td> <td>3.44</td> <td>36</td> </tr>,
 <tr> <td>1985</td> <td><strong>4,870,921,740</strong></td> <td>1.79 %</td> <td>82,583,645</td> <td>23</td><td>3.59</td> <td>33</td> </tr>,
 <tr> <td>1980</td> <td><strong>4,458,003,514</strong></td> <td>1.79 %</td> <td>75,704,582</td> <td>23</td> <td>3.86</td> <td>30</td> </tr>,
 <tr> <td>1975</td> <td><strong>4,079,480,606</strong></td> <td>1.97 %</td> <td>75,808,712</td> <td>22</td> <td>4.47</td> <td>27</td> </tr>,
 <tr> <td>1970</td> <td><strong>3,700,437,046</strong></td> <td>2.07 %</td> <td>72,170,690</td> <td>22</td><td>4.93</td> <td>25</td> </tr>,
 <tr> <td>1965</td> <td><strong>3,339,583,597</strong></td> <td>1.93 %</td> <td>60,926,770</td> <td>22</td> <td>5.02</td> <td>22</td> </tr>,
 <tr> <td>1960</td> <td><strong>3,034,949,748</strong></td> <td>1.82 %</td> <td>52,385,962</td> <td>23</td> <td>4.90</td> <td>20</td> </tr>,
 <tr> <td>1955</td> <td><strong>2,773,019,936</strong></td> <td>1.80 %</td> <td>47,317,757</td> <td>23</td> <td>4.97</td> <td>19</td> </tr>]

In [23]:
for i in table.find_all('tr')[1:]:
    row_data=i.find_all('td')
    row=[tr.text for tr in row_data]
    length=len(data)
    data.loc[length]=row

In [24]:
data

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²)
0,2020,"7,794,798,739",1.05 %,"81,330,639",30.9,2.47,52
1,2019,"7,713,468,100",1.08 %,"82,377,060",29.8,2.51,52
2,2018,"7,631,091,040",1.10 %,"83,232,115",29.8,2.51,51
3,2017,"7,547,858,925",1.12 %,"83,836,876",29.8,2.51,51
4,2016,"7,464,022,049",1.14 %,"84,224,910",29.8,2.51,50
5,2015,"7,379,797,139",1.19 %,"84,594,707",30,2.52,50
6,2010,"6,956,823,603",1.24 %,"82,983,315",28,2.58,47
7,2005,"6,541,907,027",1.26 %,"79,682,641",27,2.65,44
8,2000,"6,143,493,823",1.35 %,"79,856,169",26,2.78,41
9,1995,"5,744,212,979",1.52 %,"83,396,384",25,3.01,39
10,1990,"5,327,231,061",1.81 %,"91,261,864",24,3.44,36
11,1985,"4,870,921,740",1.79 %,"82,583,645",23,3.59,33
12,1980,"4,458,003,514",1.79 %,"75,704,582",23,3.86,30
13,1975,"4,079,480,606",1.97 %,"75,808,712",22,4.47,27
14,1970,"3,700,437,046",2.07 %,"72,170,690",22,4.93,25
15,1965,"3,339,583,597",1.93 %,"60,926,770",22,5.02,22
16,1960,"3,034,949,748",1.82 %,"52,385,962",23,4.90,20
17,1955,"2,773,019,936",1.80 %,"47,317,757",23,4.97,19